.st0 { 
  fill:none;
  stroke:#fff;
  stroke-width:3;
  stroke-miterlimit:10;
}

.st1 {
  fill:none;
  stroke:#fff;
  stroke-width:2;
  stroke-miterlimit:10;
}

#tick, #tick-circle {
  fill:white;
  stroke:none;
  stroke-width:10;
  stroke-miterlimit:10;
}

// #tick {
//   stroke-dasharray: 265.30194091796875;
//   stroke-dashoffset: 265.30194091796875;
// }

// #tick-circle {
//   stroke-dasharray: 643.3987426757812;
//   stroke-dashoffset: 643.3987426757812;
// }

#welcome-animation {
  display: flex;
  margin-bottom: 1rem;
}

#idea {
  padding-bottom: 3rem;
}

#head {
  opacity: 1
}

#small-circle, #big-circle, #cloud {
  opacity: 0;
}

circle, path {
  fill: white;
}

/* #circle1, #circle2, #circle3, #arrow-head {
  
} */

#arrow-1 path, #arrow-2 path {
  opacity: 0;
}

#arrow-1, #arrow-2 {
 padding-top: 3rem;
}

#study {
  padding: 2rem 4rem 0 4rem;
}

#light-rays {
  opacity: 0;
}

#study-logo {
  height: 300px;
}

#job {
  padding: 2rem 0 1rem 3rem;
}

#job-complete {
  opacity: 0;
}

// Arrow colours
#circle-1 {
  fill: $stage1;
}
#circle-2 {
  fill: $stage2;
}
#circle-3 {
  fill: $stage3;
}
#arrow-head-1 {
  fill: $stage4;
}
#circle-4 {
  fill: $stage5;
}
#circle-5 {
  fill: $stage6;
}
#circle-6 {
  fill: $stage7;
}
#arrow-head-2 {
  fill: $stage8;
}


// Media queries
@media (max-width: 1000px) {

  #welcome-animation {
    max-width: 90vw;
  }

  #study {
    width: 33vw;
  }
}

@media(max-width: 768px) and (min-width: 640px) {

  #idea, #arrow-1, #study,  #arrow-2, #job {
    height: 200px;
  }

  #idea {
    padding-bottom: 1.4rem;
  }

  #job {
    padding: 2rem 0 1rem 1rem;
  }
  
  #study {
    padding: 1rem 3rem 0 3rem;
  }
}

// Smartphone landscape - large width and small height
@media (min-width: 640px) and (max-height: 414px){

  #welcome-animation {
    margin-top: 15rem;
  }
}