// Resets
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

// Core styling
body, html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  // line-height: 1.8em;
  color: #fff;
  background-image: linear-gradient($primary-color, lighten($primary-color, 25%));
  // background-image: linear-gradient(lighten($primary-color, 30%), lighten($primary-color, 5%));
}

a {
  text-decoration:none;
  color: #fff;
}